.app {
  color: grey;
}

/* dat.ui */
.dg.ac {
  z-index: 1;
}

.dg.ac select {
  color: black;
}

.dg.ac input {
  line-height: initial;
}

#viewer-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
